#BACKEND
venv
__pycache__
alembic
alembic.ini
.env.development

#FRONTEND
Project_Zero-web/app/node_modules
Project_Zero-web/app/.pnp
Project_Zero-web/app/.pnp.js

# ENV
.env.development.local
.env.test.local
.env.production.local


# testing
Project_Zero-web/app/coverage

# production
Project_Zero-web/app/build

# misc
Project_Zero-web/app/.DS_Store
Project_Zero-web/app/.env.development
Project_Zero-web/app/.env.test.local
Project_Zero-web/app/.env.production.local

Project_Zero-web/app/npm-debug.log*
Project_Zero-web/app/yarn-debug.log*
Project_Zero-web/app/yarn-error.log*
