#BACKEND
venv
__pycache__
.env


#FRONTEND
node_modules
.env
Project_Zero-web/app/.pnp
Project_Zero-web/app/.pnp.js

## testing
Project_Zero-web/app/coverage

## production
Project_Zero-web/app/build

## misc
Project_Zero-web/app/.DS_Store
Project_Zero-web/app/npm-debug.log*
Project_Zero-web/app/yarn-debug.log*
Project_Zero-web/app/yarn-error.log*
